<%- include('../partials/header') %>
    <div class="container"><br>
        <hr>
        <div class="card">
            <h5 class="card-header text-primary">Cadastro de Profissionais</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Seu Nome">
                    </div>
                    <div class="form-group">
                        <label for="inputTelefone">Telefone</label>
                        <input type="text" class="form-control" id="inputTelefone" placeholder="19-999999999">
                    </div>
                    <div class="form-group">
                        <label for="inputWhatsApp">WhatsApp</label>
                        <input type="text" class="form-control" id="inputWhatsApp" placeholder="19-999999999">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="nome@exemplo.com">
                    </div>
                    <h5 class="card-title">CNPJ</h5>
                    <input class="form-control" type="text" name="cnpj" placeholder="Digite seu CNPJ"><br>
                    <h5 class="card-title">CAU</h5>
                    <input class="form-control" type="text" name="cau" placeholder="CAU"><br>
                    <h5 class="card-title">CREA</h5>
                    <input class="form-control" type="text" name="crea" placeholder="CREA"><br>
                    <h5 class="card-title">RNP</h5>
                    <input class="form-control" type="text" name="rnp" placeholder="RNP"><br>
                    <h5 class="card-title">Registro</h5>
                    <input class="form-control" type="text" name="record"
                        placeholder="Registro"><br>

                </form>
            </div>
        </div>
        <hr>
    </div><!-- /.container -->
    <%- include('../partials/footer') %>