body {
  padding-top: 1px;
  background: rgb(28, 28, 28) url('/images/back_network.png') center;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.align-items-center{
  display: flex;
  align-items: center;
}

