<%- include('partials/header') %>
 <div class="container">
      <div class="starter-template">       
        <div class=".img-fluid">
          <img class="img-responsive" src='/images/nuvem.png'>     
        </div>
        <br>
        <div class='text-light'>
        <h1>Comece agora mesmo</h1>
        <h1> com </h1>
        <h1>Nuvem de Projetos</h1>
        <p class="lead">Envie seus projetos para serem aprovados de onde estiver.<br> De forma prática e segura com uma validação rápida.</p>
      </div>   
      </div>
</div>

<%- include('partials/footer') %>